@import '../../utils/variables';

.education {
  line-height: 140%;
  user-select: none;
  margin-bottom: 12px;
  padding: 0 8px;

  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: 8px;
  }

  &__text {
    padding-bottom: 8px;

    &::before {
      content: "- ";
      margin-left: 12px;
    }
  }
}
