.main {
  text-align: center;
  margin: auto;

  &__text {
    font-size: 16px;
    margin-bottom: 30px;
  }

  &__link {
    color: #EE8251;
    font-weight: 400;

    &:hover {
      cursor: pointer;
    }
  }
}
