@import '../../utils/variables';

.main {
  min-height: $contentHeight;

  &--winter {}
  &--spring {}
  &--summer {}
  &--autumn {}
}

.link {
  text-decoration: none;
  font-weight: 700;
  transition: all 500ms;
  user-select: none;

  &--winter {
    color: $winterRed;
    
    &:focus {
      outline: 1px ridge $winterTextColor;
      border-radius: 1px;
    }
  }
  &--spring {}
  &--summer {}
  &--autumn {}
}

.content {
  position: absolute;
  top: $headerHeight;
  left: 0;
  right: 0;
  bottom: $footerHeight;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: $headerHeight 0 $footerHeight;
}

.text {
  font-size: 16px;
  font-weight: 300;
  user-select: none;
}
