.main {
  text-align: center;
  margin: 200px auto;

  &__text {
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 500;
  }

  &__link {
    color: #cb0058;
    font-weight: 700;

    &:hover {
      cursor: pointer;
    }
  }
}
