.main {
  // height: calc(100vh - 80px);
  // background-image: url('../../images/myself/main-320.png');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  text-align: center;
  margin: auto;
  max-width: 320px;
  padding-top: 50px;

  &__text {
    margin-bottom: 30px;
  }

  &__link {
    color: inherit;

    &:hover {
      cursor: pointer;
    }
  }
}
