@import '../../utils/variables';

.main {
  position: relative;
  width: 100%;
  height: max-content;
  padding-top: $headerHeight + $buttonBar; // header
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 12px;

  &--winter {
    background-color: $winterBgColor;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 50px;
  }
  &--spring {}
  &--summer {}
  &--autumn {}
}

.button-bar {
  position: fixed;
  top: $headerHeight;
  width: 264px;
  display: flex;
  justify-content: space-between;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 3px 2px 2px;
  background-color: $winterTextColor;
  margin-bottom: 24px;
}

.button {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px 8px;
  width: max-content;
  border: none;
  color: $mainDarkColor;
  background-color: $winterTextColor;
  border-radius: 4px;
  transition: all 150ms;

  &:focus, &:active {
    outline: 1px solid $mainDarkColor;
  }
  &:hover {
    cursor: pointer;
    outline: 1px solid $mainDarkColor;
  }

  &--active {
    color: $winterTextColor;
    background-color: $mainDarkElement;
  }
}


.link {
  // text-decoration: none;
  // font-weight: 700;
  // transition: all 500ms;
  // user-select: none;

  // &--winter {
  //   color: $winterRed;
    
  //   &:focus {
  //     outline: 1px ridge $winterTextColor;
  //     border-radius: 1px;
  //   }
  // }
  // &--spring {}
  // &--summer {}
  // &--autumn {}
}

.content {
  // position: absolute;
  // top: $headerHeight;
  // left: 0;
  // right: 0;
  // bottom: $footerHeight;
  // z-index: 1;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // gap: 20px;
  // padding: $headerHeight 0 $footerHeight;
  // overflow: auto;
  
}

.text {
  // font-size: 16px;
  // font-weight: 300;
  // user-select: none;
}
