.introduce {
  margin: 0 auto auto;
  // margin-bottom: auto;

  &__intro {
    margin-bottom: 4px;
    padding: 4px;
    text-align: justify;
  }

  &__bar {
    display: flex;
    justify-content: space-between;
    background-color: $mainLightColor;
    margin-bottom: 4px;
  }

  &__component {
    margin-bottom: 12px;

  }
}

.intro {
  &__photo {
    width: 170px;
    float: right;
    border-radius: 4px;
    margin-left: 4px;
  }

  &__text {
    font-size: 9px;

    &::before {
      content: '';
      margin-left: 15px;
    }
  }
}

.bar {
  &__button {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 6px 10px;
    width: max-content;
    border: none;
    color: $mainDarkColor;
    background-color: $mainLightColor;

    &:hover {
      cursor: pointer;
    }

    &--active {
      color: $mainLightColor;
      background-color: $mainDarkElement;
      border: 1px solid $mainLightColor;
    }
  }
}

.item {
  margin-bottom: 2px;
  text-align: justify;

  &__title {
    display: inline;
    font-weight: 600;
  }

  &__text {
    &::before {
      content: "- ";
      margin-left: 4px;
    }
  }

  &__content {
    &::before {
      content: "";
      margin-left: 4px;
    }

    &--exception {
      margin-left: 0;
    }
  }
}

.sub {
  &__list {
    margin-bottom: 2px;
  }

  &__item {
    margin-left: 12px;
  }
}