.introduce {
  margin: 0 auto auto;

  &__intro {
    margin-bottom: 4px;
    padding: 4px;
    text-align: justify;

    // @include on375 {
    //   padding: 4px 6px ;
    //   // gap: 24px;
    // }
  }

  &__bar {
    display: flex;
    justify-content: space-between;
    background-color: $mainLightColor;
    margin-bottom: 4px;

    // @include on375 {
    //   justify-content: space-between;
    // }
  }

  &__component {
    margin-bottom: 12px;

  }
}

.intro {
  &__photo {
    width: 160px;
    float: right;
    border-radius: 4px;
    margin-left: 4px;
    
    // @include on375 {
    //   width: 190px;
    // }
  }

  &__text {
    // font-size: 10px;

    // @include on375 {
    //   font-size: 10px;
    // }

    &::before {
      content: '';
      margin-left: 15px;
    }
  }
}

.bar {
  position: sticky;
  top: $headerHeight;
  left: 0;
  right: 0;

  &__button {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 6px 8px;
    width: max-content;
    border: 1px solid $mainLightColor;
    color: $mainDarkColor;
    background-color: $mainLightColor;
    outline: none;

    // @include on375 {
    //   padding: 6px 10px;
    // }

    &:hover {
      cursor: pointer;
    }

    &--active {
      color: $mainLightColor;
      background-color: $mainDarkElement;
    }
  }
}

.item {
  margin-bottom: 2px;
  text-align: justify;

  &__title {
    display: inline;
    font-weight: 600;
  }

  &__text {
    &::before {
      content: "- ";
      margin-left: 4px;
    }
  }

  &__content {
    &::before {
      content: "";
      margin-left: 4px;
    }

    &--exception {
      margin-left: 0;
    }
  }
}

.sub {
  &__list {
    margin-bottom: 2px;
  }

  &__item {
    margin-left: 12px;
  }
}