.introduce {
  text-align: justify;
  line-height: 140%;
  user-select: none;
  margin-bottom: 12px;
}

.photo {
  width: 150px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  float: right;
  border-radius: 4px;
  margin-left: 16px;
}

.text {
  padding-bottom: 8px;

  &:before {
    content: '';
    margin-left: 12px;
  }
}
