$christmasColor: #cb0058;
$christmasBgColor: #051223;

$mainLightColor: #F9F9F9;
$mainDarkColor: #2C2C2C;
$mainDarkElement: #343434;
$mainDarkShadow: #252525;
$mainLightShadow: #dedede;

$headerHeight: 80px;

$lightBackgroundColor: #F6F6EE;
$darkTextColor: #000;
$lightTextColor: #FFF;
$greenBackgroundColor: $christmasBgColor; // #586651
$orangeColor: $christmasColor; // #EE8251

