// height
$headerHeight: 80px;
$footerHeight: $headerHeight / 2;
// IMPORTANT!   calc  all - footer
$contentHeight: calc(100vh - 40px);
$buttonBar: 56px;


// colors
  // winter
$winterRed: #cb0058;
$winterBgColor: #051223;
$winterTextColor: #F9F9F9;

  // spring
  // summer
  // autumn





$mainLightColor: #F9F9F9;
$mainDarkColor: #2C2C2C;
$mainDarkElement: #343434;
$mainDarkShadow: #252525;
$mainLightShadow: #dedede;


$lightBackgroundColor: #F6F6EE;
$darkTextColor: #000;
$lightTextColor: #FFF;
$greenBackgroundColor: #586651;
$orangeColor: #EE8251;



