@import '../../utils/variables';

.experience {
  line-height: 140%;
  // padding: 0 8px 12px;

  &__list {
    list-style: none;
  }

  &__item {
    margin-bottom: 24px;
    padding-bottom: 8px;
    border-bottom: 1px dotted $winterTextColor;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &__title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 12px;
    // border-bottom: 1px solid $winterTextColor;
    // color: red;
     &::before {
      content: "- ";
      // margin-left: 12px;
    }
  }
  &__body {
    font-weight: 400;
    font-size: 13px;
  }
}

.content {
  margin-bottom: 12px;

  &__title {
    font-weight: 400;
    font-size: 13px;
    margin-left: 6px;
  }

  &__list {
    margin-left: 16px;
  }

  &__item {
    margin-bottom: 2px;
  }
}










