@import '../../utils/variables';

.work {
  position: relative;
  min-height: $contentHeight;
  padding-top: $headerHeight + $buttonBar; // header
  user-select: none;
  padding-left: 16px;
  padding-right: 16px;

  &--winter {
    background-color: $winterBgColor;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 50px;
  }
  &--spring {}
  &--summer {}
  &--autumn {}
}

.button-bar {
  // position: sticky; // not work
  position: fixed;
  top: $headerHeight;
  width: 288px;
  display: flex;
  justify-content: space-around;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 3px 2px 2px;
  background-color: $winterTextColor;
  margin-bottom: 24px;
}

.button {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px 8px;
  width: max-content;
  border: none;
  color: $mainDarkColor;
  background-color: $winterTextColor;
  border-radius: 4px;
  transition: all 150ms;
  
  &:focus, &:active {
    outline: 1px solid $mainDarkColor;
  }
  &:hover {
    cursor: pointer;
    outline: 1px solid $mainDarkColor;
  }

  &--active {
    color: $winterTextColor;
    background-color: $mainDarkElement;
  }
}